<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="UnicastBusConfig"
             type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>-->
  <configSections>
    <section name="AuditConfig"
             type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
  </configSections>
  <AuditConfig QueueName="audit"
               OverrideTimeToBeReceived="00:10:00"/>
  <appSettings>
    <add key="ServiceControl/Queue" value="Particular.ServiceControl"/>
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Persistence" connectionString="Data Source=.\SqlExpress;Database=Samples.NServiceBus;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--<UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Shared"
           Endpoint="Samples.NHibernate.Server"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>-->
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>

  </runtime>
</configuration>
